.drag-drop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 1.2rem;
    color: #999;
    border-radius: 5px;
    cursor: pointer;
}
.drag-drop p{
    margin: 0 0 1rem;
}
.custom-file-upload{
    padding: .5rem 1rem;
    font-weight: 600;
    color: white;
    background-color: #4A5DF9;
    border: 1px solid #4A5DF9;
    cursor: pointer;
    
}

.custom-file-upload:hover{
    background-color: #3e3bfa;
    border-color: #3e3bfa;

}

.input[type="file"]{
    display: none;
}

.fileInput{
    display: none;
}
.captionInput {
    width: 100%;
    margin-top: 5px;
    outline: none;
    resize: none;
    font-size: small;
    padding-top: 10px;
}
.locationInput{
    border: none;
    outline: none;
    width: 90%;
    
}