.dropdown {
    position: relative;
    display: inline-block;
}

.dots {
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    right: 0;
    top: 24px;
    z-index: 10;
}

.commentInput {
    border: none;
    outline: none;
    width: 100%;
    padding: .5rem .7rem;
}


.caption-wrapper {
    font-size: 14px;
    line-height: 18px;
}
.caption-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.caption-line.expanded {
    -webkit-line-clamp: unset;
}

.caption-username {
    font-weight: 600;
    margin-right: 6px;
}

.see-more {
    font-size: 14px;
    color: gray;
    cursor: pointer;
    user-select: none;
}
