.comment {
    
  max-height: calc(65vh - 200px); /* trừ phần header + action */
  overflow-y: auto;
  padding-bottom: 220px; /* đúng bằng chiều cao khối tim + input */

}

.comment::-webkit-scrollbar{
    display: none;
}

.commentInput{
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
}